@import "../../sass/index";

.DropDownMenu-widget {
  @include DropdownMenu;
  min-width: 10rem;

  &__header {
    border-bottom: 1px solid #eee;
    text-align: center;
  }

  &__footer, &__header {
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding-left: 12px;
    padding-right: 12px;
  }

  &__footer {
    border-top: 1px solid #eee;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__content {
    height: 290px;
    width: 350px;
    overflow-y: auto;
    position: relative;
  }

  &__title {
    color: #333;
    display: block;
    float: left;
    font-size: 14px;
  }
}
