.ProfileImage-component {
  $then: &;
  padding: 30px;
  position: relative;
  text-align: center;

  &__change {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    color: #fff;
    display: none;
    height: 100%;
    left: 0;
    line-height: 120px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__avatar {
    height: 120px;
    margin: 0 auto;
    position: relative;
    width: 120px;
    cursor: pointer;

    img {
      height: auto;
      margin: 0;
      width: 120px;
      border-radius: 50%;
    }

    &:hover #{$then}__change {
      display: block;
    }
  }

  &__title {
    margin-top: 10px;
  }

  &__button {
    border-radius: 40px;
    height: 36px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 36px;
    background-color: #ff9b44;
    border: 1px solid #ff9b44;

    svg {
      width: 15px;
      height: 15px;
    }

    &:hover {
      background-color: #ff851a;
      border: 1px solid #ff851a;

      svg {
        color: white;
      }
    }
  }
}
