.DashCard-component {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  color: #575757;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: auto;
  padding: 15px;

  &__container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
  }
}
