@import "./index";

body {
  font-family: "CircularStd", sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

.h {
  @each $key, $value in $color-array {
    &-bg--#{$key} {
      background-color: map_get($value, "normal");
    }
    &-color--#{$key} {
      color: map_get($value, "normal");
    }
  }

  &-icon {
    &-grid {
      path {
        fill: black;
      }
    }

    &-phone {
      path {
        fill: black;
      }
    }

    &-attachment {
      path {
        fill: black;
      }
    }
  }
}
