$default: #e0e0e0;
$default_hover: #d5d5d5;

$color-success: #26a69a;
$color-success_hover: #2bbbad;

$color-primary: #90caf9;
$color-primary_hover: rgb(100, 141, 174);

$color-secondary: #f48fb1;
$color-secondary_hover: rgb(170, 100, 123);

$color-info: #328cd6;
$color-info_hover: rgb(100, 141, 174);

$color-disabled: rgba(255, 255, 255, 0.12);
$color-disabled-2: rgba(0, 0, 0, 0.12);

.separator {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 128px;
    height: 128px;
    margin: 8px;
  }
}
