.SidebarMenu-layout {
  ul ul {
    display: block;
    font-size: 14px;
    padding: 9px 10px 9px 41px;
    position: relative;
  }

  &__sublist {
    height: 0;
    overflow: hidden;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;

    &--active {
      height: initial;
      overflow: initial;
    }
  }
}
