.SectionBox-component {
  $then: &;
  box-sizing: border-box;
  min-width: 0px;
  font-family: Roboto, sans-serif;
  line-height: 16px;
  font-size: 14px;
  font-weight: normal;

  &__header {
    box-sizing: border-box;
    min-width: 0px;
    font-family: Roboto, sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    position: relative;

    img {
      width: 250px;
    }
  }

  &__left {
    box-sizing: border-box;
    min-width: 0px;
    font-family: Roboto, sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    transition: all 500ms ease 0s;
    opacity: 0.2;
    position: absolute;
    top: 50px;
    left: -10px;
    @media screen and (min-width: 769px) {
      opacity: 1;
    }
    @media screen and (min-width: 577px) {
      opacity: 0.4;
    }
  }

  &__right {
    box-sizing: border-box;
    min-width: 0px;
    font-family: Roboto, sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    transition: all 500ms ease 0s;
    opacity: 0.2;
    position: absolute;
    top: -70px;
    right: -15px;
    @media screen and (min-width: 769px) {
      opacity: 1;
    }
    @media screen and (min-width: 577px) {
      opacity: 0.4;
    }
  }

  &__center {
    box-sizing: border-box;
    min-width: 0px;
    font-family: Roboto, sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    padding: 74px 8px;
    background-color: rgb(28, 28, 56);
    height: 284px;
    @media screen and (min-width: 769px) {
      padding-left: 250px;
      padding-right: 250px;
    }
    @media screen and (min-width: 577px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__text {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }

  &__content {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    font-family: Roboto, sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    margin: 24px 0px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    flex-flow: row wrap;
    position: relative;
    @media screen and (min-width: 577px) {
      margin-top: 24px;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 16px;
      padding-right: 16px;
    }
    @media screen and (min-width: 769px) {
      margin-top: -100px;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 32px;
      padding-right: 32px;
    }
    @media screen and (min-width: 1024px) {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
    }
    @media screen and (min-width: 577px) {
      width: 100%;
    }
    @media screen and (min-width: 769px) {
      width: 100%;
    }
    @media screen and (min-width: 1024px) {
      width: 1024px;
    }
  }

  &--center {
    #{$then}__center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
