.Typography-component {
  margin: 0;

  &--body2 {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.01071em;
  }

  &--body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.00938em;
  }

  &--caption {
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.03333em;
  }

  &--button {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
  }

  &--h1 {
    font-size: 6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: -0.01562em;
  }

  &--h2 {
    font-size: 3.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: -0.00833em;
  }

  &--h3 {
    font-size: 3rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
  }

  &--h4 {
    font-size: 2.125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.00735em;
  }

  &--h5 {
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
  }

  &--h6 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    letter-spacing: 0.0075em;
  }

  &--subtitle1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.00938em;
  }

  &--subtitle2 {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    letter-spacing: 0.00714em;
  }

  &--overline {
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.08333em;
    text-transform: uppercase;
  }

  &--sr-only {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
  }

  &--align-left {
    text-align: left;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }

  &--align-justify {
    text-align: justify;
  }

  &--no-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--gutter-bottom {
    margin-bottom: 0.35em;
  }

  &--paragraph {
    margin-bottom: 16px;
  }

  &--color-inherit {
    color: inherit;
  }

  &--color-primary {
    color: #90caf9;
  }

  &--color-secondary {
    color: #f48fb1;
  }

  &--color-textPrimary {
    color: #fff;
  }

  &--color-text-secondary {
    color: rgba(255, 255, 255, 0.7);
  }

  &--color-error {
    color: #f44336;
  }

  &--display-inline {
    display: inline;
  }

  &--display-block {
    display: block;
  }
}
