@import "../../sass/index";

.MenuList-component {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  outline: 0;
  &--padding {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
