.Sidebar-layout {
  $all: 225px;
  @media only screen and (max-width: 991.98px) {
    margin-left: -#{$all};
    width: $all;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1041;
  }

  &--miniSidebar {
    @media only screen and (min-width: 991px) {
      width: 60px;
      overflow: hidden;
      .Typography-component.Typography-component--caption {
        display: none;
      }
      .SidebarMenuItem-component__arrow {
        display: none;
      }
      .ScrollbarsCustom-Track {
        display: none;
      }
      &:hover {
        width: $all;

        .Typography-component.Typography-component--caption,
        .SidebarMenuItem-component__arrow,
        .ScrollbarsCustom-Track {
          display: initial;
        }
      }
    }
    @media only screen and (max-width: 991.98px) {
      margin-left: initial;
    }
  }
}
