.TaskInfoLine-component {
  color: #a3a3a3;
  font-size: 11px;
  line-height: 17px;
  min-width: 1px;
  margin-left: 50px;
  display: flex;
  align-items: center;

  &__line {
    overflow-wrap: break-word;

    a {
      color: #888;
      font-weight: 600;
      display: inline-flex;
      margin-right: 5px;
    }
  }

  &__time {
    color: #a3a3a3;
    display: inline-block;
    font-size: 11px;
    display: inline-block;
    padding-left: 10px;
  }
}
