.fab-component {
  color: rgba(0, 0, 0, 0.87);
  width: 56px;
  height: 56px;
  padding: 0;
  font-size: 0.875rem;
  min-width: 0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 50%;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  background-color: #e0e0e0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;

  &:hover {
    text-decoration: none;
    background-color: #d5d5d5;
    cursor: pointer;
  }


  &__label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
  }

  &__child {
    margin-left: 5px;
  }

  &--extended {
    width: auto;
    height: 48px;
    padding: 0 16px;
    min-width: 48px;
    min-height: auto;
    border-radius: 24px;
  }
}
