@import "../../sass/index";
.fab-component {
  $then: &;
  color: rgba(0, 0, 0, 0.87);
  width: 56px;
  height: 56px;
  padding: 0;
  font-size: 0.875rem;
  min-width: 0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 50%;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  background-color: #e0e0e0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;

  &:hover {
    text-decoration: none;
    background-color: #d5d5d5;
    cursor: pointer;
  }


  &__label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
  }

  &__child {
    margin-left: 5px;
  }

  &--extended {
    width: auto;
    height: 48px;
    padding: 0 16px;
    min-width: 48px;
    min-height: auto;
    border-radius: 24px;
  }

  &#{$then}--outlined, &#{$then}--color {
    box-shadow: none;
    background-color: transparent;
  }

  &:hover {
    background-color: $default_hover;
    cursor: pointer;
  }

  &--success {
    background-color: $color-success;
    color: #fff;

    &#{$then}--outlined, &#{$then}--color {
      background-color: transparent;
      color: $color-success;
      border: 1px solid $color-success;
    }

    &#{$then}--color {
      border: 0px;
    }
  }

  &--primary {
    color: rgba(0, 0, 0, 0.87);
    background-color: $color-primary;

    &#{$then}--outlined, &#{$then}--color {
      background-color: transparent;
      color: $color-primary;
      border: 1px solid $color-primary;
    }

    &#{$then}--color {
      border: 0px;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.87);
      background-color: $color-primary_hover;
    }
  }

  &--secondary {
    color: rgba(0, 0, 0, 0.87);
    background-color: $color-secondary;

    &#{$then}--outlined, &#{$then}--color {
      background-color: transparent;
      color: $color-secondary;
      border: 1px solid $color-secondary;
    }

    &#{$then}--color {
      border: 0px;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.87);
      background-color: $color-secondary_hover;
    }
  }

  &--info {
    color: rgba(0, 0, 0, 0.87);
    background-color: $color-info;

    &#{$then}--outlined, &#{$then}--color {
      background-color: transparent;
      color: $color-info;
      border: 1px solid $color-info;
    }

    &#{$then}--color {
      border: 0px;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.87);
      background-color: $color-info_hover;
    }
  }

  &#{$then}--color {
    background-color: transparent;
  }

  &--disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    cursor: default;
    pointer-events: none;
  }
}
