.ButtonActions-component {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  &__item {
    text-align: -webkit-match-parent;
    position: relative;
    min-width: 60px;
  }
}
