.SidebarMenu-component {
  padding: 10px 0;

  &__list {
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;

    li {
      position: relative;
    }
  }
}

.SidebarMenuItem-component {
  $then: &;
  line-height: 1.3;
  -webkit-transition: unset;
  color: #b7c0cd;
  font-size: 15px;
  height: auto;
  padding: 8px 15px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;
  transition: all 0.2s ease-in-out 0s;

  &__icon {
    margin-right: 15px;
  }

  &__plus {
    margin-left: auto;
    margin-right: -12px;
  }

  &__badge {
    margin-left: auto;
  }

  &__arrow {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  &:hover {
    cursor: pointer;
    color: #fff;
  }

  &--active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);

    #{$then}__arrow {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
  }
}
