.Editor-component {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  background-color: #fff;
  min-height: 100vh;

  &__redactor {
    padding-bottom: 300px;
    @media (min-width: 651px) {
      margin-right: 50px;
    }
  }

  &__icon {
    position: absolute;
    right: 20px;
    top: 0px;
    padding-right: 16px;
    opacity: 0;

    svg {
      fill: currentColor;
      vertical-align: middle;
      max-height: 100%;
    }

    > span {
      display: inline-block;
      width: 24px;
      height: 24px;
      color: #707684;
      cursor: pointer;
    }

    &--open {
      opacity: 1;
    }
  }

  &__add {
    width: 100%;
    position: relative;
    max-width: 650px;
    margin: auto;
    .ce-toolbar__plus {
      color: #707684;
      cursor: pointer;
      width: 34px;
      height: 34px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-left: -10px;
      svg {
        fill: currentColor;
        vertical-align: middle;
        max-height: 100%;
        width: 14px;
        height: 14px;
      }
    }
  }
}
