.ce-Header {
  padding: 1em 0;
  margin: 0 0 -0.9em;
  line-height: 1.5em;
  outline: none;
}

.ce-Paragraph {
  line-height: 1.6em;
  outline: none;
  padding: .7em 0;
}

.ce-List {
  margin: 0;
  padding-left: 40px;
  outline: none;

  &--unordered {
    list-style: disc;
  }

  &--ordered {
    list-style: decimal;
  }
}

.ce-ListItem {
  display: list-item;
  padding: 5.5px 0 5.5px 3px;
  line-height: 1.6em;
}

// Hacerlo Componente
.ce-InlineCode {
  background: rgba(251, 241, 241, 0.78);
  color: #C44545;
  padding: 4px 6px;
  border-radius: 2px;
  margin: 0 2px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 0.9em;
}

// Hacerlo Componente
.ce-Marker {
  background: rgba(245, 235, 111, 0.29);
  padding: 3px 0;
}

.ce-ActionIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  svg {
    fill: currentColor;
    vertical-align: middle;
    max-height: 100%;
    width: 14px;
    height: 14px;
    margin: auto;
  }
}

.ce-settings__button, .ce-inline-tool {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 34px;
  height: 34px;
  line-height: 34px;
  padding: 0 !important;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: transparent;
  vertical-align: bottom;
  color: #707684;

  &:hover {
    background-color: #eff2f5;
  }
}

.ce-toolbox {
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  will-change: opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #fff;
  z-index: 2;
}

.ce-toolbox__button {
  color: #707684;
  cursor: pointer;
  width: 34px;
  height: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;

  &:hover {
    color: #388ae5;
  }
}
