@import "../../sass/index";

.Page-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.Page-body-component {
  display: flex;
  align-items: center;
  justify-content: center;
}
