@import "../../sass/index";

.CardHeader-component {
  display: flex;
  padding: 16px;
  align-items: center;

  &__avatar {
    flex: 0 0 auto;
    margin-right: 16px;
  }

  &__content {
    flex: 1 1 auto;
  }

  &__action {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-top: -8px;
    margin-right: -8px;
  }

  &__title {
    display: block;
  }

  &__subheader {
    display: block;
    color: rgba(255, 255, 255, 0.7);
  }
}
