.AuthLogin-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  &__content {
    padding: 20px 0;
  }

  &__extras {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;

    > * {
      margin-left: 10px;
    }
  }

  &__logo {
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;

    img {
      width: 100px;
      display: block;
    }
  }
}
