@import "../../sass/index";

.Project-widget {
  overflow: hidden;
  @include Paper;
  @include Elevation(1);
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  color: #000;

  &__description {
    margin-top: 20px;
  }

  &__group {
    margin-top: 20px;
  }

  &__progress {
    margin-top: 20px;
  }

  &__settings {
    position: absolute;
    right: 5px;
    text-align: right;
    top: 10px;
  }

  &__trigger {
    color: gray;
  }
}
