.ContentToolbar-component {
  display: table-row;
  height: 100%;

  &__wrap {
    height: 100%;
    position: relative;
    width: 100%;
  }

  &__inner {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}
