.DashStats-component {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;

  & + & {
    border-left: 1px solid #e7e7e7;
  }
}
